/* Coolors Exported Palette - https://coolors.co/f46034-ffffff-fdbd84-b15544-2c2c2c */

/* CSS HEX */
--tiger-flame: #F46034ff;
--white: #FFFFFFff;
--light-caramel: #FDBD84ff;
--terracotta-clay: #B15544ff;
--graphite: #2C2C2Cff;

/* CSS HSL */
--tiger-flame: hsla(14, 90%, 58%, 1);
--white: hsla(0, 0%, 100%, 1);
--light-caramel: hsla(28, 97%, 75%, 1);
--terracotta-clay: hsla(9, 44%, 48%, 1);
--graphite: hsla(0, 0%, 17%, 1);

/* SCSS HEX */
$tiger-flame: #F46034ff;
$white: #FFFFFFff;
$light-caramel: #FDBD84ff;
$terracotta-clay: #B15544ff;
$graphite: #2C2C2Cff;

/* SCSS HSL */
$tiger-flame: hsla(14, 90%, 58%, 1);
$white: hsla(0, 0%, 100%, 1);
$light-caramel: hsla(28, 97%, 75%, 1);
$terracotta-clay: hsla(9, 44%, 48%, 1);
$graphite: hsla(0, 0%, 17%, 1);

/* SCSS RGB */
$tiger-flame: rgba(244, 96, 52, 1);
$white: rgba(255, 255, 255, 1);
$light-caramel: rgba(253, 189, 132, 1);
$terracotta-clay: rgba(177, 85, 68, 1);
$graphite: rgba(44, 44, 44, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #F46034ff, #FFFFFFff, #FDBD84ff, #B15544ff, #2C2C2Cff);
$gradient-right: linear-gradient(90deg, #F46034ff, #FFFFFFff, #FDBD84ff, #B15544ff, #2C2C2Cff);
$gradient-bottom: linear-gradient(180deg, #F46034ff, #FFFFFFff, #FDBD84ff, #B15544ff, #2C2C2Cff);
$gradient-left: linear-gradient(270deg, #F46034ff, #FFFFFFff, #FDBD84ff, #B15544ff, #2C2C2Cff);
$gradient-top-right: linear-gradient(45deg, #F46034ff, #FFFFFFff, #FDBD84ff, #B15544ff, #2C2C2Cff);
$gradient-bottom-right: linear-gradient(135deg, #F46034ff, #FFFFFFff, #FDBD84ff, #B15544ff, #2C2C2Cff);
$gradient-top-left: linear-gradient(225deg, #F46034ff, #FFFFFFff, #FDBD84ff, #B15544ff, #2C2C2Cff);
$gradient-bottom-left: linear-gradient(315deg, #F46034ff, #FFFFFFff, #FDBD84ff, #B15544ff, #2C2C2Cff);
$gradient-radial: radial-gradient(#F46034ff, #FFFFFFff, #FDBD84ff, #B15544ff, #2C2C2Cff);